=javascript_pack_tag 'index'


#root

/ #flash_message
/ %h1 This is index form Dashboard in haml
/ %br
/ #sample_recipes_form
/ #add_recipe_form
/ #get_recipes_form
/ #recipe_list_container{data: @recipes.to_json}
/ 	= render partial: "recipe_list"


